// Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$navbar-background: #f8f9fa;
$navbar-brand-color: #007bff;
$font-family: 'Arial, sans-serif';
$body-background: linear-gradient(to right, #f1f1ee, #d3cfcf);
$section-gradient: linear-gradient(to right, #f8f9fa, #e0e0e0);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Global styles
body {
  background: $body-background;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  @include flex-center;
  height: 100vh;
}



// Navbar styles
.navbar {
  background-color: $navbar-background;
  padding: 10px;
  width: 100%;
  top: 1px;
  z-index: 1;
  
  .navbar-brand {
    font-weight: bold;
    color: $navbar-brand-color;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $secondary-color;
        
        &.active {
          color: $primary-color;
        }
      }
    }
  }
  
  .navbar-toggler-icon {
    background-color: #ababac;
  }
}

// Sidebar styles
.sidebar {
  background-color: $background-color;
  width: 100%;
  height: 100%;
  position: relative;
  top: 5%;
  left: 0;
  padding-top: 60px;
  z-index: 1;
  transition: 0.3s;
  

  &.collapsed {
    width: 60px;
  }

  .nav-item {
    padding: 10px 15px;

    .nav-link {
      color: $secondary-color;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 10px;
      }
      
      &:hover {
        color: $primary-color;
      }
    }
  }
}

// Main content styles
main {
  margin-left: 2px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 250px);
  transition: 0.3s;

  &.collapsed {
    margin-left: 60px;
    width: calc(100% - 60px);
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .section {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 7px 0;
    border-radius: 5px;
    background: $section-gradient;

    h4 {
      color: $primary-color;
    }

    p {
      color: $secondary-color;
    }
  }
}

// Footer styles
.footer {
  background-color: $navbar-background;
  padding: 2px 0;
  position: fixed;
 
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: $secondary-color;
  bottom:0;

  a {
    margin: 0 1px;
    color: $secondary-color;

    &:hover {
      color: $primary-color;
    }
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .sidebar {
    &.collapsed {
      width: 60px;
    }

    &.expanded {
      width: 250px;
    }
  }

  main {
    margin-left:3px;
    width: calc(100% - 60px);

    &.expanded {
      margin-left:5px;
      width: calc(100% - 250px);
    }
  }
}
